.gpt3__cta {
    border: 1px solid black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    margin: 4rem;
    border-radius: 1rem;
    background: var(--gradient-bar);
}

.gpt3__cta-content p {
    font-family: var(--font-family);
    font-size: 12px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #0E0E0E;   
}

.gpt3__cta-content h3 {
    font-family: var(--font-family);
    font-size: 24px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: #0E0E0E; 
}

.gpt3__cta-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.gpt3__cta-button button {
    text-align: center;
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    padding: 1rem 2rem;
    background: black;
    border-radius: 40px;
    color: white;
    outline: none;
    border: none;
    cursor: pointer;
}

@media  screen and (max-width : 768px) {
    .gpt3__cta-button button {
        padding: 1rem 2rem;
}
}

@media  screen and (max-width : 650px) {
    .gpt3__cta {
        /* width: 100%; */
        flex-direction: column;
    }

    .gpt3__cta-button {
        margin: 2rem 0 0 ;
    }

    .gpt3__cta-button button {
        padding: 0.5rem 1rem;
        font-size: 15px;
    }
}

@media  screen and (max-width : 550px) {
    .gpt3__cta {
        /* width: 100%; */
        margin: 4rem 2rem;
    }

   .gpt3__cta-content h3 {
    font-size: 18px;
    line-height: 32px;
   }
}