.gpt3__possibility {
  display: flex;
  flex-direction: row;
}

.gpt3__possibiliry-image {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;
}

.gpt3__possibiliry-image img {
    width: 100%;
    height: 100%;
  }

.gpt3__possibility-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.gpt3__possibility-content h4 {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #71E5FF;    
}

.gpt3__possibility-content h4:last-child {
    font-family: var(--font-family);
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #FF8A71;

}

.gpt3__possibility-content h1 {
    font-family: Manrope;
    font-size: 34px;
    font-weight: 800;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--gradient-text);
    margin: 1rem 0;
    
}

.gpt3__possibility-content p {
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left; 
    color: #81AFDD;
    margin-bottom: 2rem; 
}

@media screen and (max-width: 950px) {
    .gpt3__possibility {
        flex-direction: column;
    }

    .gpt3__possibiliry-image  {
        margin: 1rem 0;
    }

    .gpt3__possibility-content {
        margin-top: 2rem;
    }
}